{% extends "PublicBundle::layout.html.twig" %}
{% block content %}
<h1>Congratulation</h1>
<p>Welcome to you {{ player.gamertag }}. You must confirm your email first, and then you will be able to log in to access your dashboard and start your eSports team.</p>
{% endblock %}