{% extends "EsportBundle::layout.html.twig" %}
{% block content %}
    <div class="container team">
        <h1>{{ team.name }}</h1>
        <div class="col-xs-12 teamScore">
            <div class="col-xs-4">
                <h3>Rank</h3>
                <div>1er</div>
            </div>
            <div class="col-xs-4">
                <h3>Roster</h3>
                {% for player in team.players %}
                    <div>{{ player.gamertag }}</div>
                {% endfor %}
            </div>
            <div class="col-xs-4">
                <h3>Score</h3>
                <div>0</div>
            </div>
        </div>
        <div class="teamAction col-xs-12">
            <a href="{{ path('_team_join', {'id':team.id}) }}" class="btn btn-primary col-xs-2">Ask to join</a>
        </div>
    </div>

{% endblock %}